.question__container {
    text-align: center;
    width: 30em;
}

.question__points {
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

/* .question__category {

} */

.question__question {
    margin: 2em 0;
}

.answers {
    padding: 0;
}

.answers__container {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
}

.answers__container:hover {
    cursor: pointer;
    background-color: rgb(203, 219, 231);
}

.answers__container:active {
    cursor: pointer;
    background-color: hsl(206, 37%, 65%);
}

.correct {
    background-color: green;
}

.correct:hover {
    background-color: green;
}

.incorrect {
    background-color: red;
}
.incorrect:hover {
    background-color: red;
}